-
  function has(x){ return x && (''+x).trim().length > 0; }
| This is a
= ' ' + persona + ' '
| guest you know
synz
  syn
    | well.
  syn
    | inside out.
  syn
    | on sight.
if has(quietComplaint)
  |  What quietly bothers them:
  = ' ' + quietComplaint + '.'
if has(delight)
  synz
    syn
      |  What would make their day:
    syn
      |  The small thing that lands:
  = ' ' + delight + '.'
if has(asksFor)
  |  They ask for something you don't stock
  = ' \u2014 ' + asksFor + '.'
if has(keepFrom)
  |  A room to keep them from:
  = ' ' + keepFrom + '.'
|  The small things a system never sees
synz
  syn
    |  \u2014 but you did.
  syn
    |  \u2014 and you caught them.
